.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --darkmode-text: #ffffff;
  --darkmode-background: #111111;
  --darkmode-foreground: #2b2b2b;
  --darkmode-element: #727272;
  --blue-highlight: #007eff;
  --dark-green-highlight: #4d6b22;
  --green-highlight: #beee11;
  --orange-highlight: #ff7900;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  margin: 0;
  padding: 0;
  background-color: var(--darkmode-background);
}
